.page
{
    
     width:1398px;
     height:3370px;
 border-style:groove;

  

      
}
.headerpart
{
  width:1280px;
   height:313px;
     border-style:groove;
    background-image:url('images/LOGO1.jpg');
	text-align: center;
}


.bodypart
{
    width:1398px;
    height:2973px;
margin-top:5px;

 border-style:groove;
background-image:url('images/fundd1.jpg');
background-repeat:no-repeat;

  
    


   

  

}
    


